/* Making icons on BuyCycle Green */
.features h5 {
    border: 1px solid #00ab44;
    border-right: 4px solid #00ab44;
}

.text-custom {
    color: #00ab44;
}

.dropDown {
    background-color: grey;
}

.btn-link {
    color: white;
}

.caseImg {
    max-width: 100%;
    height: auto;
}

#protoName {
    color: #00ab44;
}